.contact {
  font-family: Arial;
  margin: auto;
  min-width: 320px;
  margin-bottom: 2em;
}
h4 {
  color: white;
}
.contactForm {
  border: 1px solid black;
  padding: 1em;
  border-radius: 0.2em;
  background: #ddd;

  display: flex;
  flex-direction: column;
}
.contactForm__field {
  display: flex;
  margin-bottom: 0.5em;
}
.contactForm__label {
  margin-right: 0.5em;
}
.contactForm_textArea,
.contactForm__input {
  padding-left: 0.5em;
  flex: 1 1 auto;
  font-family: Calibri, Arial;
}
.contactForm_textArea {
}

.contactForm__submit {
  align-self: start;
  background: forestgreen;
  color: white;
  border: none;
  border-radius: 0.2em;
  padding: 0.3em 1em;
}
