.contact {
  font-family: Arial;
  min-width: 250px;
  margin-bottom: 2em;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.show {
  opacity: 1;
}

h4 {
  color: white;
}
.contactForm {
  border: 1px solid black;
  padding: 1em;
  border-radius: 0.2em;
  background: #ddd;

  display: flex;
  flex-direction: column;
}

.contactForm__submit {
  align-self: start;
  background: forestgreen;
  color: white;
  border: none;
  border-radius: 0.2em;
  padding: 0.3em 1em;
}
