h4 {
  color: white;
}
.contact {
  font-family: Arial;
  margin-bottom: 1em;
  margin: auto;
}
.contactForm {
  border: 1px solid black;
  padding: 1em;
  border-radius: 0.3em;
  background: #ddd;
  min-width: 50vw;

  display: flex;
  flex-direction: column;
}
.contactForm__field{
  display: flex;
  margin-bottom: 0.5em;
}
.contactForm__label{
  margin-right: 0.5em;
  width: 60px;
}
.contactForm_textArea,
.contactForm__input{
  padding-left: 0.5em;
  width: 100%;
  font-family: Calibri, Arial;
}
.contactForm_textArea{

}

.contactForm__submit {
  align-self: start;
  background: forestgreen;
  color: white;
  border: none;
  border-radius: 0.2em;
  padding: 0.3em 1em;
}
