.hero {
  background-size: cover;
  background-position: center;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageNav {
  background: white;
  border: none;
  height: 50px;
}

.main {
  margin-bottom: 15vh;
}
