.hero {
  background: url('C:/Users/rejam/Documents/Projects/writesabook/src/assets/images/bridgesAtNight.jpeg')
    no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageNav {
  background: white;
  border: none;
  height: 50px;
}
