.header {
  width: 100%;
  background: #abc;
}

nav {
  margin: 0 0 1em 1em;
}
.nav__btn {
  border: 1px solid grey;
  padding: 0.2em 1em;
  background: #ddd;
}

.nav__btn--home {
  border-right: none;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

.nav__btn--contact {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
