.contact {
  font-family: Arial;
  margin-bottom: 1em;
  width: calc(40vw + 10em);
}
.contactForm {
  border: 1px solid black;
  padding: 1.5em 2em;
  border-radius: 0.5em;
  background: #ddd;

  display: flex;
  flex-direction: column;
}

.contactForm__field{
  display: flex;
  margin-bottom: 0.5em;
}
.contactForm__label{
  margin-right: 0.5em;
  width: 60px;
}
.contactForm__input{
  padding-left: 0.5em;
  width: 100%;
  font-family: Calibri, Arial;
}
.contactForm__submit {
  align-self: start;
  background: forestgreen;
  color: white;
  border: none;
  padding: 0.2em 1em;
  border-radius: 0.2em;
}
