.navbar {
  background: #eee;
  width: 100%;
  color: #eee;
  padding: 1em 1em 0 1em;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navbar > * {
  margin-bottom: 1em;
  height: 2em;
}

.socialLink {
  border: 1px solid #222;
  width: 10em;
  padding: 0 1em;
  color: #222;
  text-decoration: none;
  font-size: 14px;
  border-radius: 1em;
  text-align: center;
  line-height: 2em;
}

.nav__btn {
  width: 10em;
  background: #abe;
  border: 1px solid #222;
}
